.cardRoot {
  width: 30rem;
  height: 35rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
