.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url('./../../public/login_cover.jpg');
  background-size: cover;
  background-repeat: repeat;
}
.card {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  padding: 2.4rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 1rem;
  color: #fff;
  background: #43c6ac; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #191654, #43c6ac); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #191654,
    #43c6ac
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  form {
    display: flex;
    flex-direction: column;
  }
  button {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    font-size: 1.8rem;
    background-color: rgb(179, 250, 226);
    border-radius: 0.5rem;
    color: #000;
    cursor: pointer;
  }
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  label {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  input {
    font-size: 2.2rem;
    outline: none;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid rgb(247, 232, 232);
  }
}
